body {
  margin: 0;
  font-family: Georgia, 'Times New Roman', Times, serif;
  background-image: url('https://res.cloudinary.com/dhnhzlu0g/image/upload/v1701039880/liberty-nutrition-system/home-images/wallpaper_ehup8j.webp');
  background-size: cover auto;
}
